*.gem
*.rbc
.bundle
vendor/bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
Makefile
mkmf.log
_yardoc
coverage
data
doc/
geoip_city.bundle
geoip_city.o
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
